doctype html
html(lang='en')
    head
        include components/head
    body
      main
        include components/top
        include components/projects
      script.
        "serviceWorker"in navigator&&window.addEventListener("load",()=>{navigator.serviceWorker.register("/sw.js")})
      script.
        !function(){window.goatcounter=window.goatcounter||{},window.goatcounter.vars={no_onload:!0},window.addEventListener("hashchange",function(o){window.goatcounter.count({page:window.location.pathname+window.location.search+window.location.hash})});var o=document.createElement("script");window.counter="https://wopian_me.goatcounter.com/count",o.async=1,o.src="//gc.zgo.at/count.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(o,n)}()
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&text=qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM-.%26%3A')
