body {
  color: $foreground;
  background: $background;
  text-align: center;
  font: 16px/1rem 'Fira Mono', monospace;
}

body, p {
  margin: 0;
}

section {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: #{$grid-columns};
  * {
    grid-column: main;
  }
}

svg, path {
  fill: $foreground;
  transition: fill .2s cubic-bezier(0,0,0.3,1)
}

.top {
  margin: 8rem 0;
  p {
    &:first-of-type {
      font-size: 4rem;
      line-height: 3.5rem;
      font-weight: 700;
    }

    span {
      display: block;
      color: $accent;
    }
  }

  a {
    margin: 0 .5rem;
    text-decoration: none;
    &:hover {
      svg, path {
        fill: $accent;
        transition: fill .2s cubic-bezier(0,0,0.3,1)
      }
    }
  }

  a, svg, path {
    width: 2rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

.language {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 700;
  margin-bottom: -.5rem;
  margin-top: -.5rem;
}

.summary {
  line-height: 1.5;
  margin: -.25rem 0 -.5rem;

  a {
    text-decoration: none;
    color: $foreground;
    border-bottom: 1px solid $accent;
  }
}

.project {
  margin-bottom: 8rem;

  .links {
    a {
      display: inline-block;
      border: 1px solid $accent;
      padding: .75rem 1rem;
      width: 6.5rem;
      margin: 0 .5rem;
      text-decoration: none;
      color: $foreground;

      &:first-of-type {
        background: $accent;
      }
    }
  }
}
