@font-face {
font-family:klavika;
src:url(../fonts/klavikamedium-tf-webfont.eot?#iefix) format(eot),url(../fonts/klavikamedium-tf-webfont.woff) format(woff),url(../fonts/klavikamedium-tf-webfont.ttf) format(truetype),url(../fonts/klavikamedium-tf-webfont.svg#klavika_mediummedium) format(svg);
font-weight:700;
font-style:normal;
}

/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/bcg_slide-1.jpg')}
/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 310px;
    text-align: center
}
/* CSS - Slide 3 */
#slide-3 .bcg {background-image:url('../img/bcg_slide-3.jpg')}
/* Slide 4 */
.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 300%; height: 1px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}
.curtainContainer .copy {
    position: absolute;
    bottom: 30%; left: 0;
    width: 100%; text-align: center;
}
#slide-4 .bcg {background-image:url('../img/bcg_slide-4.jpg')}
/* Slide 5 */
#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url('../img/bcg_slide-5.jpg')}
#slide-5 .bcg2 {
    background-image:url('../img/bcg_slide-5b.jpg');
    position: fixed; bottom: 0; left: 0;
    opacity: 0; z-index: 1
}
#slide-5 .bcg3 {
    background: none; background-color: #010101;
    position: fixed; bottom: 0; left: 0;
    opacity: 0; z-index: 2
}


/** {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Klavika', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  background: #525964;
  color: #fff;
}

h1 {
  font-size: 315px;
}
*/
