@font-face {
  font-family: klavika;
  src: url(../fonts/klavikamedium-tf-webfont.eot?#iefix) format(eot), url(../fonts/klavikamedium-tf-webfont.woff) format(woff), url(../fonts/klavikamedium-tf-webfont.ttf) format(truetype), url(../fonts/klavikamedium-tf-webfont.svg#klavika_mediummedium) format(svg);
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: gray;
}

div {
  position: fixed;
}

h1 {
  text-align: center;
}

.bg {
  width: 100vw;
  height: 100vh;
}

/** {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Klavika', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  background: #525964;
  color: #fff;
}

h1 {
  font-size: 315px;
}
*/
