.fullscreen-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .section {
    padding-top: 0;
  }
}

.header {
  color: $primary-color;
}