.fullscreen-banner {
  margin-top: 25vh;
  .section { padding-top: 0; }
  // h6 { font-size: 10.7px }

  h1 {
    font-size: 2.65rem;
    margin: 0 0 16px;
  }

  /*.row {
    position: relative;
    right: 2px;
  } */
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.header { color: $primary-color; }

h3 {
    font-size: 16px;
    margin: 0;
  }

.container { max-width: 500px; }

.border {
  border: 3px solid $primary-color;
}

.header-window {
  margin: 0;
  font-size: 16px;
  padding: 10px;
  color: #000;
  background: $primary-color;
}

.projects {
  padding: 10px;
  h3:not(:first-of-type) { margin-top: 32px; }
}

p,
a { font-size: 10px; }

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
.header::selection,
p::selection { background: transparent; }