.fullscreen-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  .section {
    padding-top: 0;
  }

  h1 {
    font-size: 4rem;
  }

  h6 {
    font-size: 10px;
  }
}

.header {
  color: $primary-color;
}

.container {
  max-width: 500px;
}