meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='referrer' content='origin-when-crossorigin')

title James Harris - Software Engineer #{'&'} Photographer
meta(name='apple-mobile-web-app-title' content='James Harris')
meta(name='application-name' content='James Harris')
meta(name='description' content='Hey there! I\'m a Software Engineer and hobbyist photographer. I maintain open source projects in TypeScript, JavaScript and Vue.')

link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
link(rel='preconnect' href='https://fonts.googleapis.com' crossorigin)
link(rel='preconnect' href='https://storage.googleapis.com' crossorigin)
link(rel='preconnect' href='https://gc.zgo.at' crossorigin)
link(rel='preconnect' href='https://wopian_me.goatcounter.com' crossorigin)

link(rel='preload' as='style' href='/main.min.css')
link(rel='stylesheet' href='/main.min.css')
link(rel='preload' as='style' href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-.%26%3A')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-.%26%3A')

meta(name='theme-color' content='#0f1021')
link(rel='icon' href='/favicon.svg')
link(rel='mask-icon' href='/mask-icon.svg', color='#d01257')
link(rel='apple-touch-icon' href='/apple-touch-icon.png')
link(rel='manifest' href='/manifest.webmanifest')

meta(property='og:type' content='profile')
meta(property='og:title' content='James Harris - Full Stack Web Developer')
meta(property='og:url' content='https://wopian.me')
meta(property='og:image' content='https://wopian.me/logo.png')
meta(property='profile:first_name' content='James')
meta(property='profile:last_name' content='Harris')

meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@wopian_')
meta(name='twitter:title' content='James Harris - Full Stack Web Developer')
meta(name='twitter:description' content='Hey there! I\'m a full stack web developer and hobbyist photographer. I love open source projects and work with JavaScript, TypeScript and Vue.')
meta(name='twitter:image' content='https://wopian.me/logo.png')

base(target='_blank')
