title James Harris
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='Content-Security-Policy' content='script-src "self" www.google-analytics.com')
meta(name='referrer' content='origin-when-crossorigin')
meta(name='theme-color' content='#0f1021')
link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Fira+Mono:400,700')
base(target='_blank')
