section.project
  h2 wopian.moe
  p.summary
    | Personal photography site for gigs, cosplay, travel and more!
  .links
    a(href='https://wopian.moe' title='wopian.moe' aria-label='Visit wopian.moe') Visit

section.project
  h2 zeepki.st
  p.language TypeScript Vue Nuxt LESS
  p.summary
    | The ultimate platform for Zeepkist racing fans! Track your records and in-game stats using the GTR mod
  .links
    a(href='https://zeepki.st' title='zeepki.st' aria-label='Visit zeepkist') Visit
    a(href='https://github.com/zeepkist/zeepkist' title='Source Code' aria-label='View the source code on GitHub') Source

section.project
  h2 @zeepkist/graphql
  p.language TypeScript
  p.summary
    | Typed GraphQL clients for GTR and Zworpshop APIs
  .links
    a(href='https://www.npmjs.com/package/@zeepkist/graphql' title='@zeepkist/graphql on NPM' aria-label='Use @zeepkist/graphql on NPM') Use
    a(href='https://github.com/zeepkist/graphql' title='Source Code' aria-label='View the source code on GitHub') Source

section.project
  h2 @zeepkist/gtr-api
  p.language TypeScript
  p.summary
    | Typed API client for the GTR API
  .links
    a(href='https://www.npmjs.com/package/@zeepkist/gtr-api' title='@zeepkist/gtr-api on NPM' aria-label='Use @zeepkist/gtr-api on NPM') Use
    a(href='https://github.com/zeepkist/gtr-client' title='Source Code' aria-label='View the source code on GitHub') Source

section.project
  h2 combine
  p.language TypeScript
  p.summary
    | Combine Zeepkist leaderboard log files into a single leaderboard
  .links
    a(href='https://www.npmjs.com/package/@zeepkist/combine' title='@zeepkist/combine on NPM' aria-label='Use @zeepkist/combine on NPM') Use
    a(href='https://github.com/zeepkist/combine' title='Source Code' aria-label='View the source code on GitHub') Source

section.project
  h2 zeepkist discord bot
  p.language TypeScript
  p.summary
    | Official Discord Bot for Zeepkist. Pairs with zeepki.st using GTR
  .links
    a(href='https://discord.com/api/oauth2/authorize?client_id=1064354910612762674&permissions=0&scope=bot%20applications.commands' title='Add the bot to your Discord server' aria-label='Add the bot to your Discord server') Add to Server
    a(href='https://github.com/zeepkist/discord-bot' title='Source Code' aria-label='View the source code on GitHub') Source

section.project
  h2 inspector zeep
  p.language TypeScript
  p.summary
    | Official Discord Bot for Zeepkist level contests. Validates submissions follow theme rules.
  .links
    a(href='https://github.com/zeepkist/inspector-zeep' title='Source Code' aria-label='View the source code on GitHub') Source

section.project
  h2 kitsu.io
  p.language ECMAScript Ember SCSS
  p.summary
    | Content discovery platform for anime & manga fans to track, share and discover what they love
  .links
    a(href='https://kitsu.io' title='kitsu.io' aria-label='Visit kitsu.io') Visit
    a(href='https://github.com/hummingbird-me/hummingbird-client' title='Source Code' aria-label='View Kitsu.io\'s source code on GitHub') Source

section.project
  h2 kitsu
  p.language npm ECMAScript
  p.summary
    | Simple & lightweight JSON:API client for Kitsu.io and other JSON:API compliant APIs
  .links
    a(href='https://www.npmjs.com/package/kitsu' title='kitsu on NPM' aria-label='Use kitsu on NPM') Use
    a(href='https://github.com/wopian/kitsu' title='Source Code' aria-label='View kitsu\'s source code on GitHub') Source

section.project
  h2 preferred-locale
  p.language npm ECMAScript
  p.summary
    | Get your users' most preferred locale from your app's translations 
  .links
    a(href='https://www.npmjs.com/package/preferred-locale' title='preferred-locale on NPM' aria-label='Use preferred-locale on NPM') Use
    a(href='https://github.com/wopian/preferred-locale/tree/master/packages/preferred-locale' title='Source Code' aria-label='View preferred-locale\'s source code on GitHub') Source

section.project
  h2 Material Slack Themes
  p.language Ruby
  p.summary Material themes for the Slack client
  .links
    a(href='https://slack.wopian.me' title='Material Slack Themes' aria-label='Visit Material Slack Themes') Visit
    a(href='https://github.com/wopian/material-slackthemes' title='Source Code' aria-label='View Material Slack Theme\'s source code on GitHub') Source

section.project
  h2 AGC Assembly
  p.language TypeScript
  p.summary Visual Studio Code extension for Apollo Guidance Computer source code
  .links
    a(href='https://marketplace.visualstudio.com/items?itemName=wopian.agc-assembly' title='AGC Assembly' aria-label='Install AGC Assembly in Visual Studio Code') Install
    a(href='https://github.com/wopian/agc-assembly' title='Source Code' aria-label='View AGC Assembly\'s source code on GitHub') Source
