section.project
  p.title kitsu
  p.language ES8
  p.summary
    | Simple & lightweight JSON:API client for Kitsu.io and other JSON:API compliant APIs
  .links
    a(href='//www.npmjs.com/package/kitsu') Use
    a(href='//github.com/wopian/kitsu') Source

section.project
  p.title Kitsu Season Trends
  p.language ES8 React SCSS
  p.summary
    a(href='//kitsu.io') Kitsu
    |  season trends for airing anime
  .links
    a(href='//season.moe') Visit
    a(href='//github.com/wopian/kitsu-season-trends') Source

section.project
  p.title Hibari
  p.language Vue ES8 Pug SASS
  p.summary Additional statistics for users of Kitsu
  .links
    a(href='//hibari.moe') Visit
    a(href='//github.com/wopian/hibari') Source

section.project
  p.title Material Slack Themes
  p.language Ruby
  p.summary Material themes for the Slack client
  .links
    a(href='//slack.wopian.me') Visit
    a(href='//github.com/wopian/material-slackthemes') Source

section.project
  p.title AGC Assembly
  p.language TypeScript
  p.summary Visual Studio Code extension for Apollo Guidance Computer source code
  .links
    a(href='//marketplace.visualstudio.com/items?itemName=wopian.agc-assembly') Install
    a(href='//github.com/wopian/agc-assembly') Source

section.project
  p.title Tracker Killer
  p.language ES7
  p.summary Node.js experiment to see how well media tracking sites handle large libraries
  .links
    a(href='//github.com/wopian/tracker-killer') Source

//-section.project
  p.title Hatayama
  p.language ES6 Handlebars SCSS
  p.summary International flag database using Handlebars
  .links
    a(href='//hatayama.wopian.me') Visit
    a(href='//github.com/wopian/hatayama') Source
